
{% load static %}

{% block content %}

    <div class="card max-height-vh-70 h-100 overflow-auto overflow-x-hidden mb-5 mb-lg-0" style="max-height: 70vh;">

            <hr class="my-3">
            <div class="mx-3">
                <h4 class="mb-0">My PDF Files </h4>
            </div>
            <hr class="my-3">
            <div class="mx-3">
                <div>
                    
                    <div class="ml-3">
                      <!--<span> <img alt="Image" src="{% static 'img/pdf.png'%}"> | file 1 </span> --> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
<

{% endblock %}